<!-- filepath: c:\Users\vijay\Videos\dotnetprivate2024\April2025On\angularapril14c\src\app\app.component.html -->
<nav class="navbar">
  <a class="nav-link" routerLink="/">Home</a>
  <a class="nav-link" routerLink="/about">About</a>
  <a class="nav-link" routerLink="/contact">Contact</a>
  <a class="nav-link" routerLink="/gallery">Gallery</a>
  <a class="nav-link" routerLink="/dc-form">DC Comics Form</a>
  <a class="nav-link" routerLink="/nasa-url">NASA URL Generator</a>
</nav>

<router-outlet></router-outlet>